.footeheader{
    color: white;
    font-size: 22px;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}

#header:hover{
    background-color: rgb(150, 223, 176);
    cursor: pointer;
}

.active{
    text-decoration:underline;
}

#link{
    cursor: pointer;
}